<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Infiniboard 12 Preferences</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
	        <key>footerText</key>
	        <string>Infiniboard 12 - Credits to Xuzz Productions/chpwn for the original Infiniboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>ScrollEnabled</string>
			<key>label</key>
			<string>Vertical Scrolling</string>
			<key>PostNotification</key>
			<string>com.nwhit.infiniboard12prefs.preferences-changed</string>
			<key>defaults</key>
			<string>com.nwhit.infiniboard12prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>ScrollBounce</string>
			<key>label</key>
			<string>Scrolling Bounce</string>
			<key>validTitles</key>
			<array>
				<string>Enabled</string>
				<string>Enabled with Extra Icons</string>
				<string>Disabled</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>defaults</key>
			<string>com.nwhit.infiniboard12prefs</string>
			<key>PostNotification</key>
			<string>com.nwhit.infiniboard12prefs.preferences-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>ScrollbarStyle</string>
			<key>label</key>
			<string>Scrollbar Style</string>
			<key>validTitles</key>
			<array>
				<string>Black</string>
				<string>White</string>
				<string>Disabled</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>defaults</key>
			<string>com.nwhit.infiniboard12prefs</string>
			<key>PostNotification</key>
			<string>com.nwhit.infiniboard12prefs.preferences-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>FastRestoreEnabled</string>
			<key>label</key>
			<string>Top on Paging</string>
			<key>PostNotification</key>
			<string>com.nwhit.infiniboard12prefs.preferences-changed</string>
			<key>defaults</key>
			<string>com.nwhit.infiniboard12prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>RestoreEnabled</string>
			<key>label</key>
			<string>Top on App Exit</string>
			<key>PostNotification</key>
			<string>com.nwhit.infiniboard12prefs.preferences-changed</string>
			<key>defaults</key>
			<string>com.nwhit.infiniboard12prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>PagingEnabled</string>
			<key>label</key>
			<string>Vertical Paging</string>
			<key>PostNotification</key>
			<string>com.nwhit.infiniboard12prefs.preferences-changed</string>
			<key>defaults</key>
			<string>com.nwhit.infiniboard12prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>ClipsStatusbar</string>
			<key>label</key>
			<string>Hide Behind Statusbar</string>
			<key>validTitles</key>
			<array>
				<string>Hide Fully</string>
				<string>Hide Partially</string>
				<string>Don't Hide</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>PostNotification</key>
			<string>com.nwhit.infiniboard12prefs.preferences-changed</string>
			<key>defaults</key>
			<string>com.nwhit.infiniboard12prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>ClipsDock</string>
			<key>label</key>
			<string>Hide Behind Dock</string>
			<key>validTitles</key>
			<array>
				<string>Dock Only</string>
				<string>Dock + Page Control</string>
				<string>Don't Hide</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>PostNotification</key>
			<string>com.nwhit.infiniboard12prefs.preferences-changed</string>
			<key>defaults</key>
			<string>com.nwhit.infiniboard12prefs</string>
		</dict>
	</array>
</dict>
</plist>
