Author: Nathan Whitaker <nathan.whitaker01@gmail.com>
Maintainer: Nathan Whitaker
Name: Springfinity
Package: com.nwhit.springfinity
Section: Tweaks
Pre-Depends: firmware (>= 11.0)
Depends: mobilesubstrate, preferenceloader
Suggests: com.chpwn.iconsupport
Version: 1.1.8
Architecture: iphoneos-arm
Description: A remake of infiniboard for iOS 11 & 12. Scroll vertically on your homescreen.