Author: nwhit <nathan.whitaker01@gmail.com>
Maintainer: Nathan Whitaker
Name: Infiniboard12
Package: com.nwhit.infiniboard12
Section: Tweaks
Pre-Depends: firmware (>= 5.0)
Depends: mobilesubstrate, preferenceloader (>= 1.1), com.chpwn.iconsupport (>= 1.6)
Version: 3.0-b
Architecture: iphoneos-arm
Description: Vertically scroll your home screen pages!
Icon: file:///Library/PreferenceLoader/Preferences/Infiniboard.png
Tag: cydia::tweak
dev: nwhit
